<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
        
      <a href="#" class="navbar-brand">{{link-to "Borrowers" "index" class="main"}}</a>

      <ul class="nav navbar-nav">
        <li>{{link-to "Dashboard" "index" class="pseudo button icon-gauge"}}</li>
        <li>{{link-to "Friends" "friends" class="pseudo button icon-users"}}</li>
        <li>{{link-to "New Friend" "friends.new" class="pseudo button icon-user-add"}}</li>
      </ul>

    </div>
  </div>
</nav>
